.external{
    color:pink;
    font-size: 8px;
}
.fav-external{
    color: yellow;
    font-size: 3em;
}

.h1-tag{
    background-color: blue;
    color: yellow;
    padding: 10px;
}
.text-blue{
    color: blue;
}
.sub-header{
    color: green;
}
.backgrond-blue{
    background-color: blue;
    color: white;
}
.img-background{
    background-image: url(/img/360_F_119670247_HDccziQUuo2kFpaNiM22dIto5I8GPAWW.jpg);
    padding: 20px;
}

.repeat{
    
    height: 800px;
    
    background-image: url(/img/360_F_119670247_HDccziQUuo2kFpaNiM22dIto5I8GPAWW.jpg);
    background-repeat: repeat-y ;
    background-size: 200px 200px;
}
.using-class{
    color: rgb(22, 160, 220);
}
.using-class2{
    color:rgb(22, 160, 220) ;
}

#green{
    color: green;
}
#red{
    color: red;
}

.background-inter{
    background-color: aquamarine;
    padding: 20px;
}

.img1{
    
    background-image: url(/img/w-r.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.img2{
    background-image: url(/img/g-b.jpeg);
}

.img3{
    background-image: url(/img/y-g.jpeg);
    background-repeat: repeat ;
    background-size: 100%;
    width: 600px;
    background-size: contain;
 
}

.img4{

    background-image: url(/img/g-b.jpeg);
    background-repeat: repeat ;
    background-size: 100%;
    width: 600px;
    height: 200px;
    background-size: contain;

}
div.flex{
    display: flex;
}

.header-selector{
    color: rgba(11, 39, 11, 0.45);
}
.class-selector{
    color: rgba(30, 162, 199, 0.336);
}
#id-selector{
background-color: aqua;
color: green;
}

.group-p{
    background-color: rgb(178, 222, 223);
}
.red-p{
    color: red;
}
.blue-p{
    color: blue;
}

.number-group{
    background-color: pink;
    text-align: center;
}
.odd{
    color: blue;
}
.even{
    color: red;
}
.end{
    color: blue;
    display: inline ;
}
.lines{
    
}
.blue-item{
    background-color: rgb(68, 127, 220);
    padding: 10px;
}
.pink-item{
    background-color: pink;
    padding: 10px;
}
.orange-item{
    background-color: orange;
    padding: 10px;
}
.form{
    text-align: center;
    background-color: rgb(202, 173, 138);
    padding: 3px;
    border: 5px solid black;

}
.form-label{
    background-color: brown;
    margin: 52px;
    padding: 20px;
    color: white;
    font-size: 30px;
}
.input-class{
    width: 1100px;
    padding: 20px;
    margin: 10px;
    
}
.button{
    background-color: rgb(223, 201, 87);
}


.diagonal{

    text-align: center;
    padding-top: 100px;
    width: 1300px;
    height: 200px;

    background: linear-gradient(18deg, #05c605 0% ,#d4ff00 49% , #80005a , 74% ,#1f1f71  100%) ;
    
   
}


.form1{
    margin-left: 400px;
}

table , tr , th {
    border: 1px solid black;
    padding: 30px;
}

.blue-form{
    background-color: aqua;
}
.form-button{
    margin: 5px;
    padding: 10px 20px 5px  20px;

}

.head-table{
    background-color: rgb(229, 212, 104);
    color: red;
    font-size: 25px;
}


  .container22 {
    display: flex;
    height: 100vh;
  }

  .ver {
    background-image: url(/img/360_F_119670247_HDccziQUuo2kFpaNiM22dIto5I8GPAWW.jpg);
    background-repeat: repeat-y;
    width: 25%;
    text-wrap: nowrap;
    overflow: visible;
    color: white;
    z-index: 1;
  }

  .hori {
    background-image: url(/img/360_F_119670247_HDccziQUuo2kFpaNiM22dIto5I8GPAWW.jpg);
    background-repeat: repeat-x;
    width: 75%;
    padding: 20px;
  }